{% extends 'base.html.twig' %}

{% block title %} - Entreprises{% endblock %}

{% block style %} 
    {{ parent() }}
{% endblock %}

{% block logoLink %} {{ parent() }} {% endblock %}

{% block navbar %} 

    
    <li><a href="/talent">Espace Talents</a></li>
    <li><a href="/pro">Espace Entreprises</a></li>
    {% if user != null %}
        <li><a href="logout" class="btn btn-blue">Déconnexion</a></li>
    {% endif %}
    {% if user == null %}
        <li><a href="#" data-toggle="modal" data-target="#modalLogin" class="btn btn-blue">Connexion</a></li>
        <li><a href="#" data-toggle="modal" data-target="#modalRegistrationCompany" class="btn btn-blue">Inscription</a></li>
    {% endif %}

{% endblock %}
    

{% block header %}

    {{ parent()}}

{% endblock %}

{% block pageTitle %}
    Profil de {{ talent.username }}
{% endblock %}

{% block body %}

    <section id="jobs" class="section gray-bg">
        <div class="container profile">
            <div class="text-center">
                <img class="margin-top profile-picture" src="{{ talent.avatar }}" alt="Avatar de {{ talent.username }}">
                <h1>{{ talent.username }}</h1>
            </div>
            <div class="profile-details">
                    <div class="details">
                        <p class="profileElement">Nom:</p><p>{{ talent.lastname }}</p>
                    </div>
                    <div class="details">
                        <p class="profileElement">Prénom:</p><p>{{ talent.firstname }}</p>
                    </div>
                    <div class="details">
                        <p class="profileElement">Email:</p><p>{{ talent.mail }}</p>
                    </div>
                    <div class="details">
                        <p class="profileElement">Commune:</p><p>{{ talent.location }}</p>
                    </div>
                    <div class="details">
                        <p class="profileElement">LinkedIn:</p><p>{{ talent.LinkedIn }}</p>
                    </div>
                    <div class="details">
                        <p class="profileElement">Compétences:</p>
                        {% for skill in talent.skills %}
                            <li class="talentSkills"> {{ skill.name }} </li>
                        {% else %}
                            <li>Aucune compétence mentionnée</li>
                        {% endfor %}
                    </div>
                    <div class="details">
                        <p class="profileElement">Freelance</p>
                        {% if talent.isFreelance == true %}
                            <p>Oui</p>
                        {% else %}
                            <p>Non</p>
                        {% endif %}
                    </div>
                    <div class="details">
                        <p class="profileElement">Mobile en Corse</p>
                        {% if talent.isMobile == true %}
                            <p>Oui</p>
                        {% else %}
                            <p>Non</p>
                        {% endif %}
                    </div>
                    <div class="details">
                        <p class="profileElement">Télétravail seulement?</p>
                        {% if talent.remoteOnly == true %}
                            <p>Oui</p>
                        {% else %}
                            <p>Non</p>
                        {% endif %}
                    </div>
                    
                    {% if talent.cv %}
                        <div class="details profileDoc">
                            <iframe src="{{ talent.Cv }}" width="800" height="600" align="middle"></iframe>
                            {# Affiché que si width > 992px #}
                            <a href="./{{ talent.Cv }}" class="btn btn-blue pdfDocument" download="{{ talent.Cv }}"> Télécharger son CV</a>
                        </div>
                    {% endif %}
            </div>

            {% if user == talent %}
            <div class="row title text-center">
                <a href="#" data-toggle="modal" data-target="#modalEditTalent" class="btn btn-blue">Modifier vos informations</a>
            </div>
            {% endif %}
            {% if user != null and user == company %}
                <div class="row title text-center">
                    <a href="#" data-toggle="modal" data-target="#modalEditTalent" class="btn btn-blue">Contacter {{ talent.firstname }}</a>
                </div>
            {% endif %}
        </div>
    </section>

    {% block footer %} {{ parent() }} {% endblock %}

{% endblock %}

{% block securityForms %}

    {{ parent() }}

    <div class="modal fade" id="modalEditTalent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content modal-popup">
                <a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
                <div class="form-control form-white">
                    <h3 class="white">Modifier profil Talent</h3>
                    <form action="" class="popup-form" enctype="multipart/form-data">
                        
                        <input type="text" name="firstname" class="form-control form-white" value="{{ talent.firstname }}" placeholder="Remplacer {{ talent.firstname }} ?">
                        <input type="text" name="lastname" class="form-control form-white" value="{{ talent.lastname }}" placeholder="Remplacer {{ talent.lastname }} ?">
                        <input type="text" name="email" class="form-control form-white" value="{{ talent.mail }}" placeholder="Remplacer {{ talent.mail }} ?">
                        <div class="dropdown">
                            <button id="dLabelBis" name="skills" class="form-control form-white dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Compétences
                            </button>
                            <div class="dropdown-menu animated fadeIn" role="menu" aria-labelledby="dLabelBis">
                                <div class="animated lightSpeedIn">
                                    {% for skill in skills %}
                                        {% if skill in talent.skills %}
                                            <input type="checkbox" name="skills[]" value="{{ skill.name }}" checked>
                                            <label for="{{ skill.name }}">{{ skill.name }}</label>
                                        {% else %}
                                            <input type="checkbox" name="skills[]" value="{{ skill.name }}">
                                            <label for="{{ skill.name }}">{{ skill.name }}</label>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <input type="text" name="location" class="form-control form-white" value="{{ talent.location }}" placeholder="Remplacer {{ talent.location }} ?">
                        <input type="text" name="linkedIn" class="form-control form-white" value="{{ talent.linkedIn }}" placeholder="Remplacer {{ talent.linkedIn }} ?">
                        
                        <div class="form-control form-white file-input">
                                <label for="avatar">Modifier votre Avatar</label>
                                <input type="file" name="avatar" accept="image/png, image/jpeg, image/jpg">
                        </div>

                        <div class="form-control form-white file-input">
							<label for="CV">Importez votre CV:</label>
							<input type="file" name="CV" accept="application/pdf">
						</div>

                        <div class="form-white">
                            <label for="isFreelance">Freelance</label>
                            {% if talent.isFreelance == true %}
                                <input type="checkbox" name="isFreelance" checked>
                            {% else %}
                                <input type="checkbox" name="isFreelance">
                            {% endif %}
                        </div>
                    
                        <div class="form-white">
                            <label for="mobility">Mobile en Corse</label>
                            {% if talent.isMobile == true %}
                                <input type="checkbox" name="mobility" checked>
                            {% else %}
                                <input type="checkbox" name="mobility">
                            {% endif %}
                        </div>

                        <div class="form-white">
                            <label for="remoteOnly">Télétravail seulement</label>
                            {% if talent.remoteOnly == true %}
                                <input type="checkbox" name="remoteOnly" checked>
                            {% else %}
                                <input type="checkbox" name="remoteOnly">
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-submit" formaction="talentEdit" formmethod="post">Envoyer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
