{% extends 'base.html.twig' %}

{% block title %} - Entreprises{% endblock %}

{% block style %} {{ parent() }} {% endblock %}

{% block logoLink %} {{ parent() }} {% endblock %}

{% block navbar %} 

    
    <li><a href="/talent">Espace Talents</a></li>
    <li><a href="/pro">Espace Entreprises</a></li>
    {% if user != null %}
        <li><a href="logout" class="btn btn-blue">Déconnexion</a></li>
    {% endif %}
    {% if user == null %}
        <li><a href="#" data-toggle="modal" data-target="#modalLogin" class="btn btn-blue">Connexion</a></li>
        <li><a href="#" data-toggle="modal" data-target="#modalRegistration" class="btn btn-blue">Inscription</a></li>
    {% endif %}

{% endblock %}
    

{% block header %}

    {{ parent()}}

{% endblock %}

{% block pageTitle %}
    Détails de votre profil
{% endblock %}

{% block body %}

    <section id="jobs" class="section gray-bg">
        <div class="container">
            <div class="text-center">
                <img class="margin-top" src="{{ user.picture }}" alt="Logo de {{ user.username }}">
                <h1>{{ user.username }}</h1>
            </div>
            <div class="row text-center profile-details">
                    <div>
                        <h3 class="details">Nom:</h3><p>{{ user.name }}</p>
                    </div>
                    <div>
                        <h3 class="details">Email:</h3><p>{{ user.mail }}</p>
                    </div>
                    <div>
                        <h3 class="details">Adresse:</h3><p>{{ user.address }}</p>
                    </div>
                    <div>
                        <h3 class="details">Téléphone:</h3><p>{{ user.phone }}</p>
                    </div>
                    <div>
                        <h3 class="details">Offres publiées actuellement:</h3>
                        {% for offer in user.jobOffers %}
                            <li> {{ offer.jobName }} </li>
                        {% else %}
                            <li>Aucune offre d'emploi publiée actuellement</li>
                        {% endfor %}
                    </div>
            </div>
            <div class="row title text-center">
                <a class="light offer-link btn btn-blue" href="/jobs">Ajouter une offre d'emploi</a>
            </div>
            <div class="row title text-center">
                <a href="#" data-toggle="modal" data-target="#modalEditCompany" class="btn btn-blue">Modifier vos informations</a>
            </div>
        </div>
    </section>

    {% block footer %} {{ parent() }} {% endblock %}

{% endblock %}

{% block securityForms %}
    <div class="modal fade" id="modalEditCompany" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content modal-popup">
                <a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
                <h3 class="white">Modifier profil Entreprise</h3>
                <form action="" class="popup-form">
                    <input type="text" name="name" class="form-control form-white" value="{{ user.name }}" placeholder="Remplacer {{ user.name }} ?">
                    <input type="text" name="email" class="form-control form-white" value="{{ user.mail }}" placeholder="Remplacer {{ user.mail }} ?">
                    <input type="text" name="picture" class="form-control form-white" value="{{ user.picture }}" placeholder="Remplacer le logo de l'entreprise ?">
                    <input type="text" name="address" class="form-control form-white" value="{{ user.address }}" placeholder="Remplacer {{ user.address }} ?">
                    <input type="text" name="phone" class="form-control form-white" value="{{ user.phone }}"  placeholder="Remplacer {{ user.phone }} ?">
                    

                    {# <div class="dropdown">
                        <button id="dLabel" class="form-control form-white dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Vos besoins
                        </button>
                        <ul class="dropdown-menu animated fadeIn" role="menu" aria-labelledby="dLabel">
                            <li class="animated lightSpeedIn"><a href="#">Diffusion d'offre d'emploi</a></li>
                            <li class="animated lightSpeedIn"><a href="#">Elaboration de cahier des charges</a></li>
                            <li class="animated lightSpeedIn"><a href="#">Autre demande</a></li>
                        </ul>
                    </div>
                    <div class="checkbox-holder text-left">
                        <div class="checkbox">
                            <input type="checkbox" value="None" id="squaredOne" name="check" />
                            <label for="squaredOne"><span>J'accepte les <strong>conditions générales</strong></span></label>
                        </div>
                    </div> #}
                    <button type="submit" class="btn btn-submit" formaction="companyEdit" formmethod="post">Envoyer</button>
                    {# <a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-blue">Connexion</a> #}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

