{% extends 'base.html.twig' %}

{% block title %} - Offres d'Emploi{% endblock %}

{% block logoLink %}"/talent"{% endblock %}

{% block navbarButtons %} 
    
    <li><a href="/talent">Espace Talents</a></li>
    <li><a href="/pro">Espace Entreprises</a></li>
    {% if user != null %}
        <li><a href="logout" class="btn btn-blue">Déconnexion</a></li>
    {% endif %}
    {% if user == null %}
        <li><a href="#" data-toggle="modal" data-target="#modalLogin" class="btn btn-blue">Connexion</a></li>
        <li><a href="#" data-toggle="modal" data-target="#modalRegistrationTalent" class="btn btn-blue">Inscription</a></li>
    {% endif %}


    {% endblock %}

{% block flashMessages %} 
    {% for message in app.flashes('notice') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}

{% block header %}

    {{ parent() }}

{% endblock %}

{% block pageTitle %}
    Les Offres de Nos Partenaires
{% endblock %}

{% block intro %}

{% endblock %}

{% block body %}

    
{% block offers %}
    <section id="jobs" class="section gray-bg">
        <div class="container">
            <div class="row">
                {% if jobs %}
                    {% for job in jobs %}
                        <div class="col-md-4">
                            <div class="jobs text-center">
                                <div class="cover" style="background:url('{{ job.company.picture }}'); background-position: center; background-size:contain; background-repeat: no-repeat;">
                                    <div class="overlay text-center">
                                        <h3 class="white">{{ job.company }}</h3>
                                        <h5 class="light white">{{ job.jobName }}</h5>
                                    </div>
                                </div>
                                <div class="title">
                                    <p>Lieu de travail: {{ job.jobPlace }}</p>
                                    {% if job.remotePossibility == true %}
                                        <p class="muted regular">Télétravail possible</p>
                                    {% else %}
                                        <p class="muted regular">Télétravail: Non</p>
                                    {% endif %}

                                    {% if job.freelancePossibility == true %}
                                        <p class="muted regular">Ouvert aux talents freelance</p>
                                    {% else %}
                                        <p class="muted regular">Freelance: Non</p>
                                    {% endif %}
                                    <p class="muted regular">Salaire indicatif: {{ job.salary }}</p>
                                </div>
                                <form method="post" action="/job" class="inline">
                                    <input type="hidden" name="id" value="{{ job.id }}">
                                    <button type="submit" name="submit_param" value="submit_value" class="btn btn-blue-fill">
                                        Consulter
                                    </button>
                                </form>
                                {# <button data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill">Consulter</button> #}
                                {# <a href="/job/{{job.id}}" class="btn btn-blue ripple trial-button">Consulter</a> #}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col-md-12 text-center">
                        <h4>Aucune offre disponible actuellement</h4>    
                    </div>
                {% endif %}    
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %} {{ parent() }} {% endblock %}

{% endblock %}

{% block securityForms %} 
    {{ parent() }} 
    
    {% block loginRedirectionPath %} 
        <input type="hidden" name="_target_path" value="{{ path('jobList') }}"/>
    {% endblock %}
{% endblock %}

    