{% extends 'base.html.twig' %}

{% block title %} - Offres d'Emploi{% endblock %}

{% block logoLink %}"/talent"{% endblock %}

{% block navbar %} 
    
        <li><a href="#intro">Home</a></li>
        {# <li><a href="#services">Qui sommes nous</a></li> #}
        <li><a href="#jobs">Offres d'Emploi</a></li>
        {# <li><a href="#pricing">Tarifs et Contact</a></li> #}
        <li><a href="/talent">Espace Candidats</a></li>
        <li><a href="/pro">Espace Entreprises</a></li>
        {% if user != null %}
            <li><a href="/profile">Profil</a></li>
            <li><a href="logout" class="btn btn-blue">Déconnexion</a></li>
        {% endif %}
        {% if user == null %}
            <li><a href="#" data-toggle="modal" data-target="#modalLogin" class="btn btn-blue">Connexion</a></li>
            <li><a href="#" data-toggle="modal" data-target="#modalRegistration" class="btn btn-blue">Inscription</a></li>
        {% endif %}


    {% endblock %}

{% block header %}

    {{ parent() }}

{% endblock %}

{% block pageTitle %}
    Les Offres de Nos Partenaires
{% endblock %}

{% block intro %}

{% endblock %}

{% block body %}

    
{% block offers %}
    <section id="jobs" class="section gray-bg">
        <div class="container">
            <div class="row">
                {% if jobs %}
                    {% for job in jobs %}
                        <div class="col-md-4">
                            <div class="jobs text-center">
                                <div class="cover" style="background:url('{{ job.company.picture }}'); background-size:cover; width: 100%; height: 100%;">
                                    <div class="overlay text-center">
                                        <h3 class="white">{{ job.company }}</h3>
                                        <h5 class="light light-white">{{ job.jobName }}</h5>
                                    </div>
                                </div>
                                <div class="title">
                                    <h5>{{ job.salary }}</h5>
                                    <h5 class="muted regular">{{ job.requiredExperience }}</h5>
                                </div>
                                <button data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill">Consulter</button>
                            </div>
                        </div>
                    {% endfor %}

                {% else %}
                    <div class="col-md-12 text-center">
                        <h4>Aucune offre disponible actuellement</h4>    
                    </div>
                {% endif %}    
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %} {{ parent() }} {% endblock %}

{% endblock %}

{% block securityForms %} {{ parent() }} {% endblock %}

    