{% extends 'base.html.twig' %}

{% block title %} - Offres d'Emploi{% endblock %}

{% block logoLink %}"/talent"{% endblock %}

{% block navbarButtons %}     
    <li><a href="#intro">Home</a></li>
    {# <li><a href="#services">Qui sommes nous</a></li> #}
    <li><a href="#jobs">Offres d'Emploi</a></li>
    {# <li><a href="#pricing">Tarifs et Contact</a></li> #}
    <li><a href="/talent">Espace Candidats</a></li>
    <li><a href="/pro">Espace Entreprises</a></li>
    {% if user != null %}
        <li><a href="/monProfil">Profil</a></li>
        <li><a href="logout" class="btn btn-blue">Déconnexion</a></li>
    {% endif %}
    {% if user == null %}
        <li><a href="#" data-toggle="modal" data-target="#modalLogin" class="btn btn-blue">Connexion</a></li>
        <li><a href="#" data-toggle="modal" data-target="#modalRegistrationCompany" class="btn btn-blue">Inscription</a></li>
    {% endif %}
    <br>
    <div class="align-content-end">
        <a href="/talent" class="other-link">Espace Talents</a>
    </div>
{% endblock %}

{% block flashMessages %} 
    {% for message in app.flashes('notice') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}

{% block header %}

    {{ parent() }}

{% endblock %}

{% block pageTitle %}
    Les Talents 
{% endblock %}

{% block intro %}

{% endblock %}

{% block body %}

    
{% block talents %}
    <section id="jobs" class="section gray-bg">
        <div class="container">
            <div class="row">
                {% if talents %}
                    {% for talent in talents %}
                        <div class="col-md-4">
                            <div class="jobs text-center">
                                <div class="cover" style="background:url('{{ talent.avatar }}'); background-position: center; background-size:contain; background-repeat: no-repeat;">
                                    <div class="overlay text-center">
                                        <p class="white">Viens voir le superbe profil de {{ talent.firstname }}!<p>
                                    </div>
                                </div>
                                <div class="title">
                                    <h3 class="muted regular">{{ talent.username }}</h3>
                                    <h5 class="muted regular">{{ talent.title }}</h5>
                                </div>
                                <form method="post" action="/talentProfile" class="inline">
                                    <input type="hidden" name="id" value="{{ talent.id }}">
                                    <button type="submit" name="submit_param" value="submit_value" class="btn btn-blue-fill">
                                        Profil détaillé
                                    </button>
                                </form>
                            </div>
                        </div>
                    {% endfor %}

                {% else %}
                    <div class="col-md-12 text-center">
                        <h4>Aucun talent enregistré actuellement</h4>    
                    </div>
                {% endif %}    
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %} {{ parent() }} {% endblock %}

{% endblock %}

{% block securityForms %}
    {{ parent() }} 

    {% block loginRedirectionPath %} 
        <input type="hidden" name="_target_path" value="{{ path('TalentList') }}"/>
    {% endblock %}

{% endblock %}
    