{% extends 'base.html.twig' %}

{% block title %} - Entreprises{% endblock %}

{% block style %} {{ parent() }} {% endblock %}

{% block navbar %} 

    {# <li><a href="#intro">Home</a></li> #}
    <li><a href="#services">Services</a></li>
    <li><a href="#talents">Talents</a></li>
    <li><a href="#presentation">Qui sommes nous?</a></li>
    <li><a href="#goldenBook">Happy Clients</a></li>
    <li><a href="#contact">Contact</a></li>
    {% if user != null %}
        <li><a href="/monProfil">Mon Profil</a></li>
        <li><a href="logout" class="btn btn-blue">Déconnexion</a></li>
    {% endif %}
    {% if user == null %}
        <li><a href="#" data-toggle="modal" data-target="#modalLogin" class="btn btn-blue">Connexion</a></li>
        <li><a href="#" data-toggle="modal" data-target="#modalRegistrationCompany" class="btn btn-blue">Inscription</a></li>
    {% endif %}
    <br>
    <div class="align-content-end">
        <a href="/admin" class="other-link">Espace Admin</a>
        <a href="/talent" class="other-link">Espace Talents</a>
    </div>
{% endblock %}
    

{% block header %}

    {{ parent()}}

{% endblock %}

{% block pageTitle %}
    Espace Entreprises
{% endblock %}

{% block body %}

   {% block intro %}
            <section>
            <div class="cut cut-top"></div>
            <div class="container">
                <div class="row intro-tables">
                    <div class="col-md-4">
                        <div class="intro-table intro-table-first">
                            <h4 class="white heading">Events</h4>
                            <div class="owl-carousel owl-schedule bottom">
                                <div class="item">
                                    <div class="schedule-row row">
                                        <div class="col-xs-12">
                                            <h5 class="regular white">Webinar : Recruter un junior pour développer son site web</h5>
                                        </div>
                                    </div>
                                    <div class="schedule-row row">
                                        <div class="col-xs-6">
                                            <h5 class="regular white">Le 17/06/2019</h5>
                                        </div>
                                        <div class="col-xs-6 text-right">
                                            <h5 class="white">8h30 - 10h00</h5>
                                        </div>
                                    </div>
                                    <div class="schedule-row row">
                                        <div class="col-xs-12 ">
                                            <h5 class="white">Twitch</h5>
                                        </div>
                                    </div> 
                                </div>
                                {# <div class="item">
                                    <div class="schedule-row row">
                                        <div class="col-xs-12">
                                            <h5 class="regular white">Webinar : Recruter un junior pour développeur son site web</h5>
                                        </div>
                                    </div>
                                    <div class="schedule-row row">
                                        <div class="col-xs-6">
                                            <h5 class="regular white">Le 17/06/2019</h5>
                                        </div>
                                        <div class="col-xs-6 text-right">
                                            <h5 class="white">8h30 - 10h00</h5>
                                        </div>
                                    </div>
                                    <div class="schedule-row row">
                                        <div class="col-xs-12 ">
                                            <h5 class="white">Twitch</h5>
                                        </div>
                                    </div> 
                                </div> #}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="intro-table intro-table-hover">
                            <h5 class="white heading hide-hover">Inscription</h5>
                            <div class="bottom">
                                <h4 class="white heading small-heading no-margin regular">Rejoindre la communauté Corse-Connexion</h4>
                                {# <h4 class="white heading small-pt">20% Discount</h4> #}
                                <a href="#" data-toggle="modal" data-target="#modalGetEmail" class="btn btn-white-fill expand">En savoir plus</a>
                                {# <button data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill">Consulter</button> #}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="intro-table intro-table-first">
                            <h4 class="white heading">Happy Clients</h4>
                            <a href="#goldenBook">
                            <div class="schedule-row row">
                                <div class="owl-carousel owl-schedule bottom">
                                    <div class="item">
                                        <div class="schedule-row row">
                                            <div class="col-xs-12 ">
                                                <h4 class="regular white" style="padding-left: 1.5rem">"Marjorie a été diablement efficace..."</h4>
                                            </div>
                                        </div>
                                        <div class="schedule-row row">
                                            <div class="col-xs-12 ">
                                                <p class="white" style="padding-left: 1.5rem">Marc Simeoni - CEO & Co-founder of Volpy.com</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section> 
    {% endblock %}

    {% block services %}
        <section id="services" class="section section-padded">
            <div class="container">
                <div class="row text-center title">
                    <h2>Services</h2>
                    <h4 class="light muted">Corse-Connexion t'accompagne dans tes projets numériques.</h4>
                </div>
                <div class="row services">
                    <div class="col-md-4">
                        <div class="service">
                            <div class="icon-holder">
                                <img src="img/icons/selection.png" alt="" class="icon">
                            </div>
                            <h4 class="heading">Accompagnement au recrutement</h4>
                            <p class="description">Que tu recherches un profil pour une mission de courte durée ou en CDI, Corse-Connexion recherche le talent fait pour répondre à tes besoins. <br>

                            De l’élaboration de la fiche de poste au recrutement en passant par l’identification du profil idéal, nous mettons à ta disposition toute notre expertise RH & Digitale en gardant évidemment notre grain de folie !</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service">
                            <div class="icon-holder">
                                <img src="img/icons/web-settings.png" alt="" class="icon">
                            </div>
                            <h4 class="heading">Elaboration de cahier des charges</h4>
                            <p class="description">On peut avoir une idée incroyable mais des difficultés à la coucher sur le papier « techniquement parlant ». Laisse nous t’accompagner dans la définition de ton cahier des charges afin qu’il soit compris plus facilement par ton futur développeur.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service">
                            <div class="icon-holder">
                                <img src="img/icons/hiring.png" alt="" class="icon">
                            </div>
                            <h4 class="heading">Diffuser mon offre d'emploi</h4>
                            <p class="description">La diffusion est gratuite pendant 15 jours!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cut cut-bottom"></div>
        </section>
    {% endblock %}

    {% block talents %}    	
        <section id="talents" class="section gray-bg">
            <div class="container">
                <div class="row title text-center">
                    <h2 class="margin-top">Les talents</h2>
                </div>
                <div class="row">
                        {% for talent in talents %}
                            <div class="col-md-4">
                                <div class="jobs text-center">
                                    <div class="cover" style="background:url('{{ talent.avatar }}'); background-position: center; background-size:contain; background-repeat: no-repeat;">
                                        <div class="overlay text-center">
                                            <p class="white">Viens voir le superbe profil de {{ talent.firstname }}!<p>
                                        </div>
                                    </div>
                                    <div class="title">
                                        <h3 class="muted regular">{{ talent.username }}</h3>
                                        {# <h5>{{ job.salary }}</h5> #}
                                        <h5 class="muted regular">{{ talent.title }}</h5>
                                    </div>
                                    <form method="post" action="/talentProfile" class="inline">
                                        <input type="hidden" name="id" value="{{ talent.id }}">
                                        <button type="submit" name="submit_param" value="submit_value" class="btn btn-blue-fill">
                                            Profil détaillé
                                        </button>
                                    </form>
                                    {# <button type="button" data-toggle="modal" id="{{ talent.id }}" class="btn btn-blue-fill">Profil</button> #}
                                </div>
                            </div>
                        {% endfor %}
                </div>
                <div class="row title text-center">
                    <a href="/talents" class="btn btn-blue ripple trial-button">Voir tous les talents</a>
                </div>
            </div>
        </section>
    {% endblock %}

    {% block presentation %}
        <section id="pricing" class="section">
            <div class="container" id="presentation">
                <div class="row no-margin" style="text-align: -webkit-right;">
                    <div class="whoIs" >
                        <div class="marjo">
                        </div>
                        <div class="team-info">
                            <h4 class="white heading">Marjorie Di Placido Pietri</h4>
                            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget fermentum felis, eu auctor elit. Nam molestie et nulla in porttitor. Pellentesque vel sagittis mi, sed suscipit nibh. Nunc aliquet est vitae porta ultricies. Cras in dui ipsum. Sed consectetur posuere condimentum. In hac habitasse platea dictumst.</p>
                        </div>
                    </div>
                    <div class="whoIs" >
                        <div class="greg">
                        </div>
                        <div class="team-info">
                            <h4 class="white heading">Grégory Guiné</h4>
                            <p class="description">Praesent laoreet nulla sit amet tristique rutrum. Sed at est eget nibh convallis convallis quis nec eros. Nullam semper elit nec velit dignissim, sit amet dictum risus suscipit. Sed faucibus lacinia pulvinar. Sed rutrum lorem ullamcorper, ultricies lectus suscipit, scelerisque nisl. Integer vel tempor sem.</p>
                        </div>
                    </div>
                    {# Masqué au dessus de width 992px #}
                    <div class="whoIs-mobile" >
                        <div class="row title text-center">
                            <h2>Qui sommes nous?</h2>
                        </div>
                        <div class="team-info">
                            <h4 class="white heading">Marjorie Di Placido Pietri</h4>
                            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget fermentum felis, eu auctor elit. Nam molestie et nulla in porttitor. Pellentesque vel sagittis mi, sed suscipit nibh. Nunc aliquet est vitae porta ultricies. Cras in dui ipsum. Sed consectetur posuere condimentum. In hac habitasse platea dictumst.</p>
                        </div>
                        <div class="team-info">
                            <h4 class="white heading">Grégory Guiné</h4>
                            <p class="description">Praesent laoreet nulla sit amet tristique rutrum. Sed at est eget nibh convallis convallis quis nec eros. Nullam semper elit nec velit dignissim, sit amet dictum risus suscipit. Sed faucibus lacinia pulvinar. Sed rutrum lorem ullamcorper, ultricies lectus suscipit, scelerisque nisl. Integer vel tempor sem.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}

    {% block goldenBook %}
        <section id="goldenBook" class="section section-padded blue-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="owl-twitter owl-carousel">
                            <div class="item text-center">
                                <i class="icon fa fa-linkedin"></i>
                                <h4 class="white light">Marjorie a été diablement efficace en nous prodiguant des profils de qualité, totalement en adequation avec nos besoins, pourtant spécifiques et exigeants. Elle a eu un rôle déterminant dans les recrutements que nous avons conduit. Je ne peux que la recommander chaudement !</h4>
                                <h4 class="light-white light">Sabrina Taelman Martini</h4>
                            </div>
                            {# <div class="item text-center">
                                <i class="icon fa fa-twitter"></i>
                                <h4 class="white light">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
                                <h4 class="light-white light">#lorem #ipsum #latin</h4>
                            </div>
                            <div class="item text-center">
                                <i class="icon fa fa-twitter"></i>
                                <h4 class="white light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</h4>
                                <h4 class="light-white light">#lorem #ipsum #latin</h4>
                            </div> #}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}

    {% block footer %} {{ parent() }} {% endblock %}

{% endblock %}

{% block form %}

    {{ parent() }} 

{% endblock %}

{% block securityForms %} 

    {{ parent() }} 
    
    {% block loginRedirectionPath %} 
        {# value="{{ path('homePro') }}"  #}
    {% endblock %}

{% endblock %}
 
    
