{% extends 'base.html.twig' %}

{% block title %} - Talents{% endblock %}

{% block style %} {{ parent() }} {% endblock %}

{% block logoLink %} {{ parent() }} {% endblock %}

{% block navbar %} 

    <li><a href="#services">Services</a></li>
    <li><a href="#jobs">Offres d'emploi</a></li>
    <li><a href="#presentation">Qui sommes nous?</a></li>
    <li><a href="#goldenBook">Happy Talents</a></li>
    <li><a href="#contact">Contact</a></li>
    {% if user != null %}
        <li><a href="/monProfil">Profil</a></li>
        <li><a href="logout" class="btn btn-blue">Déconnexion</a></li>
    {% else %}
        <li><a href="#" data-toggle="modal" data-target="#modalLogin" class="btn btn-blue">Connexion</a></li>
        <li><a href="#" data-toggle="modal" data-target="#modalRegistrationTalent" class="btn btn-blue">Inscription</a></li>
    {% endif %}
    <br>
    <div class="align-content-end">
        <a href="/admin" class="other-link">Espace Admin</a>
        <a href="/pro" class="other-link">Espace Entreprises</a>
    </div>

{% endblock %}
    
{% block flashMessages %} 
    {% for message in app.flashes('notice') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}

{% block header %}

    {{ parent()}}

{% endblock %}

{% block pageTitle %}
    Espace Talents
{% endblock %}

{% block body %}

    {% block intro %}
            <section>
            <div class="cut cut-top"></div>
            <div class="container">
                <div class="row intro-tables">
                    <div class="col-md-4">
                        <div class="intro-table intro-table-first">
                            <h4 class="white heading">Events</h4>
                            <div class="owl-carousel owl-schedule bottom">
                                <div class="item">
                                    <div class="schedule-row row">
                                        <div class="col-xs-12">
                                            <h5 class="regular white">Webinar: se former au métier de développeur</h5>
                                        </div>
                                        {# <div class="col-xs-6 text-right">
                                            <h5 class="white">23/04/2019</h5>
                                        </div> #}
                                    </div>
                                    <div class="schedule-row row">
                                        <div class="col-xs-6">
                                            <h5 class="regular white">Le 23/04/2019</h5>
                                        </div>
                                        <div class="col-xs-6 text-right">
                                            <h5 class="white">8h30 - 10h00</h5>
                                        </div>
                                    </div>
                                    <div class="schedule-row row">
                                        <div class="col-xs-12 ">
                                            <h5 class="white">Twitch</h5>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="intro-table intro-table-hover">
                            <h5 class="white heading hide-hover">Inscription</h5>
                            <div class="bottom">
                                <h4 class="white heading small-heading no-margin regular">Rejoindre la communauté Corse-Connexion</h4>
                                {# <h4 class="white heading small-pt">20% Discount</h4> #}
                                <a href="#" data-toggle="modal" data-target="#modalGetEmail" class="btn btn-white-fill expand">En savoir plus</a>
                                {# <button data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill">Consulter</button> #}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="intro-table intro-table-first">
                            <h4 class="white heading">Happy Talents</h4>
                            <a href="#goldenBook">
                            <div class="schedule-row row">
                                <div class="owl-carousel owl-schedule bottom">
                                    <div class="item">
                                        <div class="schedule-row row">
                                            <div class="col-xs-12 ">
                                                <h4 class="regular white" style="padding-left : 1.5rem">"Revivre en Corse tout en m'épanouissant dans mon parcours professionnel..."</h4>
                                            </div>
                                        </div>
                                        <div class="schedule-row row">
                                            <div class="col-xs-12 ">
                                                <p class="white" style="padding-left: 1.5rem">Sabrina Taelman Martini</p>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section> 
    {% endblock %}

    {% block services %}
        <section id="services" class="section section-padded">
            <div class="container">
                <div class="row text-center title">
                    <h2>Services</h2>
                    <h4 class="light muted">Corse-Connexion t’accompagne dans ton évolution professionnelle & numérique.</h4>
                </div>
                <div class="row services">
                    <div class="col-md-4">
                        <div class="service">
                            <div class="icon-holder">
                                <img src="img/icons/conversation-orange.png" alt="" class="icon">
                            </div>
                            <h4 class="heading">Accompagnement individuel</h4>
                            <div class="description">
                            <p>Fais-toi coacher par un expert RH.</p>
                            </div>
                            <a href="#" data-toggle="modal" data-target="#modalLogin" class="btn btn-blue description" style="margin-top: 20%">Voir</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service">
                            <div class="icon-holder">
                                <img src="img/icons/monthly-calendar-orange.png" alt="" class="icon">
                            </div>
                            <h4 class="heading">Evènements</h4>
                            <p class="description">Corse-Connexion c’est aussi des évènements un peu partout en Corse mais aussi en ligne. 
                                N’hésite pas à nous suivre sur les réseaux sociaux pour rester informé.
                            <p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service">
                            <div class="icon-holder">
                                <img src="img/icons/hiring.png" alt="" class="icon">
                            </div>
                            <h4 class="heading">Offres d'emploi</h4>
                            <p class="description">
                            Viens découvrir les offres de nos partenaires!
                            </p>
                            <a href="/jobs" class="btn btn-blue description" style="margin-top: 20%">Voir les offres</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cut cut-bottom"></div>
        </section>
    {% endblock %}

    {% block offers %}    	
        <section id="jobs" class="section gray-bg">
            <div class="container">
                <div class="row title text-center">
                    <h2 class="margin-top">Offres d'Emploi</h2>
                    <h4 class="light muted">Nos partenaires recrutent</h4>
                </div>
                <div class="row">
                    {% if jobs %}
                        {% for job in jobs %}
                                <div class="col-md-4">
                                    <div class="jobs text-center">
                                        <div class="cover" style="background:url('{{ job.company.picture }}'); background-position: center; background-size:contain; background-repeat: no-repeat;">
                                            <div class="overlay text-center">
                                                <h3 class="white">{{ job.company }}</h3>
                                                <h5 class="light white">{{ job.jobName }}</h5>
                                            </div>
                                        </div>
                                        <div class="title">
                                            <p>Lieu de travail: {{ job.jobPlace }}</p>
                                            {% if job.remotePossibility == true %}
                                                <p class="muted regular">Télétravail possible</p>
                                            {% else %}
                                                <p class="muted regular">Télétravail: Non</p>
                                            {% endif %}
                                            <p class="muted regular">Salaire indicatif: {{ job.salary }}</p>
                                        </div>
                                        <form method="post" action="/job" class="inline">
                                            <input type="hidden" name="id" value="{{ job.id }}">
                                            <button type="submit" name="submit_param" value="submit_value" class="btn btn-blue-fill">
                                                Consulter
                                            </button>
                                        </form>
                                        {# <button data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill">Consulter</button> #}
                                        {# <a href="/job/{{job.id}}" class="btn btn-blue ripple trial-button">Consulter</a> #}
                                    </div>
                                </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="row title text-center">
                    <a href="/jobs" class="btn btn-blue ripple trial-button">Voir toutes les offres</a>
                </div>
            </div>
        </section>
    {% endblock %}

    {% block presentation %}
        <section id="pricing" class="section">
            <div class="container" id="presentation">
                <div class="row title text-center">
                </div>
                <div class="row no-margin" style="text-align: -webkit-right;">
                    <div class="whoIs" >
                        <div class="marjo">
                        </div>
                        <div class="team-info">
                            <h4 class="white heading">Marjorie Di Placido Pietri</h4>
                            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget fermentum felis, eu auctor elit. Nam molestie et nulla in porttitor. Pellentesque vel sagittis mi, sed suscipit nibh. Nunc aliquet est vitae porta ultricies. Cras in dui ipsum. Sed consectetur posuere condimentum. In hac habitasse platea dictumst.</p>
                        </div>
                    </div>
                    <div class="whoIs" >
                        <div class="greg">
                        </div>
                        <div class="team-info">
                            <h4 class="white heading">Grégory Guiné</h4>
                            <p class="description">nteger in quam sapien. Praesent laoreet nulla sit amet tristique rutrum. Sed at est eget nibh convallis convallis quis nec eros. Nullam semper elit nec velit dignissim, sit amet dictum risus suscipit. Sed faucibus lacinia pulvinar. Sed rutrum lorem ullamcorper, ultricies lectus suscipit, scelerisque nisl. Integer vel tempor sem. Etiam tincidunt varius egestas. Proin hendrerit eros at rutrum suscipit.</p>
                        </div>
                    </div>
                    {# Masqué au dessus de width 992px #}
                    <div class="whoIs-mobile" >
                         <div class="row title text-center">
                            <h2>Qui sommes nous?</h2>
                        </div>
                        <div class="team-info">
                            <h4 class="white heading">Marjorie Di Placido Pietri</h4>
                            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget fermentum felis, eu auctor elit. Nam molestie et nulla in porttitor. Pellentesque vel sagittis mi, sed suscipit nibh. Nunc aliquet est vitae porta ultricies. Cras in dui ipsum. Sed consectetur posuere condimentum. In hac habitasse platea dictumst.</p>
                        </div>
                        <div class="team-info">
                            <h4 class="white heading">Grégory Guiné</h4>
                            <p class="description">Praesent laoreet nulla sit amet tristique rutrum. Sed at est eget nibh convallis convallis quis nec eros. Nullam semper elit nec velit dignissim, sit amet dictum risus suscipit. Sed faucibus lacinia pulvinar. Sed rutrum lorem ullamcorper, ultricies lectus suscipit, scelerisque nisl. Integer vel tempor sem.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}

    {% block goldenBook %}
        <section id="goldenBook" class="section section-padded blue-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="owl-twitter owl-carousel">
                            <div class="item text-center">
                                <i class="icon fa fa-linkedin"></i>
                                <h4 class="white light">Grâce à Marjorie je vis un rêve éveillé ! Pouvoir revivre en Corse tout en m'épanouissant dans mon parcours professionnel dans le Marketing Digital. À l'âge de 17 ans j'avais dû quitter la Corse pour cause de mutation de ma mère. 15 ans plus tard, vivant sur Aix-en-Provence j'ai été contacté par Marjorie sur LinkedIn qui me proposait une opportunité sur mesure chez Volpy ! Je n'ai pas hésité longtemps, emmenant mon mari dans mes bagages. Un grand merci à Marjorie pour son professionnalisme et son dynamisme !</h4>
                                <h4 class="light-white light">Sabrina Taelman Martini</h4>
                            </div>
                            {# <div class="item text-center">
                                <i class="icon fa fa-twitter"></i>
                                <h4 class="white light">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
                                <h4 class="light-white light">#lorem #ipsum #latin</h4>
                            </div>
                            <div class="item text-center">
                                <i class="icon fa fa-twitter"></i>
                                <h4 class="white light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</h4>
                                <h4 class="light-white light">#lorem #ipsum #latin</h4>
                            </div> #}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}

    {% block footer %} {{ parent() }} {% endblock %}
{% endblock %}

{% block securityForms %} 

    {{ parent() }} 
    
    {% block loginRedirectionPath %} 
        <input type="hidden" name="_target_path" value="{{ path('homeTalent') }}"/>
    {% endblock %}

{% endblock %}
    
